[Unit]
Description=Argon One Fan and Button Daemon Service
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/sbin/argononed
PIDFile=/run/argononed.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
